@using Orchard.Environment.Descriptor.Models
@{ 
    //Script.Require("jQueryUI").AtHead();
    Script.Require("OrchardAce").AtHead();
    //Style.Require("jQueryUI_Orchard").AtHead();
    var g = Guid.NewGuid();
    string divid = "ace-" + g.ToString();
    string txtid = "txt-" + g.ToString();
}
<style>
    #@divid {
        border: 1px solid #7C8891;
        min-height:400px;
        width:99%;
    }
    .edit-item{
        display:none;
    }
    .tabs-content, #tabhtml, #tabcss, #tabjs{
        position: relative;
    }
</style>

@Html.TextArea("Text", (string)Model.Text, 25, 80,
     new Dictionary<string, object> {
        {"class", "html aceeditor " + txtid},
        {"style", "width:100%; display:none;"}
     })

    <ul id="bodytabs" class="tabs" data-tab>
        <li class="tab-title active first"><a href="#tabhtml">Html</a></li>
        <li class="tab-title"><a href="#tabcss">Css</a></li>
        <li class="tab-title last"><a href="#tabjs">Javascript</a></li>
    </ul>
    <div class="tabs-content">
        <div class="content active" id="tabhtml">
            <div id="@divid"></div>
        </div>
        <div class="content" id="tabcss">
        </div>
        <div class="content" id="tabjs">
        </div>
    </div>

@using (Script.Foot())
{
<script type="text/javascript">
    $(function () {

        var BodyAceEditor = ace.edit('@divid');
        BodyAceEditor.setTheme('ace/theme/grapto');
        BodyAceEditor.getSession().setMode('ace/mode/html');
        BodyAceEditor.setOptions({
            enableEmmet: true,
            enableBasicAutocompletion: true,
            enableSnippets: false,
            spellcheck: true,
            useElasticTabstops: true,
            maxLines: Infinity
        });
        BodyAceEditor.setSelectionStyle("text");
        BodyAceEditor.getSession().setUseSoftTabs(false);

        var TextArea = $('.@txtid').hide();
        BodyAceEditor.getSession().setValue(TextArea.val());
        BodyAceEditor.getSession().on('change', function () {
            TextArea.val(BodyAceEditor.getSession().getValue());
        });

        $('#tabhtml').on('toggled', function (event, tab) {
            BodyAceEditor.resize();
        });
        $('#bodytabs').parent().find('label').hide();
        $('.edit-item').show();
        //$('#tabhtml').css('height', 400);
    });
</script>
}
